---
import type { Product } from '../../../commons/types/productsApi'
import Info from '../../../commons/components/Info/index.astro'
import ReviewsList from '../../../commons/components/ReviewsList.astro'

interface Props {
	product: Product
}

const { product } = Astro.props
---

<div
	class="grid md:grid-cols-2 gap-6 lg:gap-12 items-start max-w-6xl px-4 mx-auto py-6"
>
	<Info product={product} />
	<ReviewsList />
</div>