<header class="bg-slate-800 flex items-center mx-auto justify-around p-5 ">
    <h1 class="myLinkStyle">Sizas</h1>
    <nav>
      <ul class="flex">
        <li><a class="myLinkStyle" href="">Productos</a></li>
        <li><a class="myLinkStyle" href="">Ofertas</a></li>
        <li><a class="myLinkStyle" href="">Acerca de</a></li>
        <li><a class="myLinkStyle text-gray-950 rounded-lg bg-slate-100 px-3 py-2" href="">Contactanos</a></li>
      </ul>
    </nav>
  </header>
  
  <style>
    .myLinkStyle {
      @apply text-white rounded-lg px-3;
    }
    
    .myLinkStyle.text-gray-950 {
      color: black !important;
    }
    </style>
    
  