---
import { Cart } from './Cart.jsx'
---

<header
	class="grid grid-cols-3 items-center px-4 py-2 bg-white shadow-md fixed top-0 left-0 right-0 z-50"
>
	<div></div>

	<nav class="main-nav hidden lg:flex gap-6 justify-center">
		<a href="/">Products</a>
		<a href="/">About</a>
		<a href="/">Contact</a>
	</nav>

	<div class="flex items-center gap-4 justify-end">
		<Cart client:load />
		<div class="nav-links flex gap-4">
			<a href="/admin">Admin</a>
			<a href="/">Sign In</a>
		</div>
	</div>
</header>

<style>
	.main-nav > a {
		@apply text-sm font-medium;
	}

	.nav-links > a {
		@apply inline-flex items-center justify-center rounded-md transition-colors h-10 py-2 text-sm;
	}
</style>
