---
import Rating from "./Rating.astro"

const { title, description, price, rating } = Astro.props
---

<div class="hidden md:flex items-start">
    <div class="grid gap-4">
        <h1 class="font-bold text-3xl lg:text-4xl">{title}</h1>
        <div>
            <p>{description}</p>
        </div>
        {rating && <Rating rating={rating} />}
    </div>
    <div class="text-4xl font-bold ml-auto">${price}</div>
</div>