---
import ImageList from './ImageList.astro'
import ActiveImage from './ActiveImage.astro'
import Details from './Details.astro'
import Quantity from './Quantity.astro'
import AddToCard from '../../../components/AddToCard.astro'

const { product } = Astro.props

const { title, description, price, images } = product
const rating = product?.rating && Math.round(product.rating)
---

<div class="grid md:grid-cols-5 gap-3 items-start">
	{images && <ImageList images={images} />}
	{product?.images && <ActiveImage image={product.images[0]} />}
</div>

<div class="grid gap-4 md:gap-10 items-start">
	<Details {...{ title, description, price, rating }} />
	<Quantity />
	<AddToCard title="Add to card" />
</div>
