---
import StarIcon from './StarIcon.astro'

const { rating } = Astro.props
---

<div class="flex items-center gap-0.5">
	{
		Array(Math.floor(rating))
			.fill(0)
			.map(() => <StarIcon />)
	}
	{
		Array(5 - Math.floor(rating))
			.fill(0)
			.map(() => <StarIcon color="white" />)
	}
</div>
